allright.html                     
export-2020-11-08_17-33-24.csv   
psychotherapy-in-cr.html     
uzis_psychiatrie.csv
allright.Rmd                      
export-sluzby-2020-11.csv        
psychotherapy-in-cr.Rmd      
uzis_psycholog.csv
csu_obyv_2020.xlsx                
export-sluzby-2020-11.xlsx       
psychotherapy-in-cr.Rproj    
uzis_psychology.xlsx
csv_cobce_psc                     
index.html                       
souradnice.csv               
xls_cobce_psc.xls
csv_cobce_psc.zip                 
layovers.R                       
souradnice-mest-master       
xls_cobce_psc.zip
cz-region-boundaries-master       
nope.html                        
souradnice-mest-master.zip   
zv_cobce_psc.csv
cz-region-boundaries-master.zip   
nope.Rmd                         
Table2_APA.doc               
zvcr034.xls
data.csv                          
nuts_cz.xlsx                     
trial.html                
psychotherapy-in-cr.csv          
trial.Rmd